// <!-- scss comopile comman -->
// <!-- sass index.scss index.css -->

$primary-color: #FFaaaa;
$themcolor-color: #d91d1d;

@mixin border-color($colorName, $widthSize) {
    border: $colorName solid $widthSize;
}

@function responsive-font($base-size, $scale-factor) {
    @return ($base-size * $scale-factor)+px;
}

.mainDiv {
    background-color: $primary-color;
    color: $themcolor-color;
    padding: 20px;
    text-align: center;
    // border-radius: 5px;
    @include border-color(black, 3px);
    font-size: responsive-font(20, 1.5);

}